<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Edit</title>
</head>
<body>

    <h1>Editing the <%=keyboard.name%></h1>

    <nav>
        <a class="link cancel" href="/keyboards/<%=keyboard._id%>">CANCEL EDITING</a>
    </nav><br>

    <form class="edit-container" action="/keyboards/<%=keyboard._id%>?_method=PUT" method="POST">
        <div class="editPage">
        Name: <input type="text" name="name" value="<%=keyboard.name%>"/>*<br>
            
        Keyboard Size: <select name="keyboardSize" value="<%=keyboard.keyboardSize%>" onchange="toggleCustomSize()"> 
            <option value="60% | Mini">60% | Mini</option>
            <option value="65% | SF">65% | SF</option>
            <option value="80% | TKL | Tenkeyless">80% | TKL | Tenkeyless</option>
            <option value="100% | Full Size">100% | Full Size</option>
            <option value="Other">Other (specify below)</option>
        </select>*<br>
        <div id="customSizeField">
            <% if (keyboard.keyboardSize === 'Other') { %>
                Other Size: <input type="text" name="otherSize" value="<%=keyboard.otherSize%>"/>
            <% } %>
        </div>
        
        Connectivity: <select name="connectivity" value="<%=keyboard.connectivity%>" onchange="toggleConnectionType()">
            <option value="Wired(Detachable)">Wired(Detachable)</option>
            <option value="Wired(Non-Detachable)">Wired(Non-Detachable)</option>
            <option value="Wireless">Wireless</option>
        </select>*<br>

        <div id="detachField">
            <% if (keyboard.connectivity === "Wired(Detachable)") { %>
                Connection Type(Output): <select name="detach" value="<%=keyboard.detach%>">
                    <option value="USB C">USB C</option>
                    <option value="USB A">USB A</option>
                    <option value="Mini USB">Mini USB</option>
                </select>
            <% } %>
                </div>
        <div id="nonDetachField">
            <% if (keyboard.connectivity === "Wired(Non-Detachable)") { %>
                Connection Type(Input): <select name="nonDetach" value="<%=keyboard.nonDetach%>">
                    <option value="USB A">USB A</option>
                    <option value="USB C">USB C</option>
                </select>
            <% } %>
              </div>

        
        Switches: <input type="text" name="switches" value="<%=keyboard.switches%>"/><br>
        
        Switch Facing: <select name="switchFacing" value="<%=keyboard.switchFacing%>">
            <option value="North" 
                <% if (keyboard.switchFacing === 'North') { %>
                    selected
                <% } %>
            >North</option>
            <option value="South" 
                <% if (keyboard.switchFacing === 'South') { %>
                    selected
                <% } %>
            >South</option>
        </select>*<br>

        <!-- Hot-Swappable? <input type="checkbox" name="hotswap" <% if(keyboard.hotswap === 'off') { %>unchecked<% } %> value="off" <% if(keyboard.hotswap !== 'off') { %>checked<% } %> />*<br> -->
        Hot-Swappable? <select name="hotswap" value="<%=keyboard.hotswap%>">
            <option value="Yes" 
                <% if (keyboard.hotswap === 'Yes') { %>
                    selected
                <% } %>
            >Yes</option>
            <option value="No" 
                <% if (keyboard.hotswap === 'No') { %>
                    selected
                <% } %>
            >No</option>
        </select>*<br>

        <!-- Knob? <input type="checkbox" name="knob" <% if(keyboard.knob === 'on') { %>checked<% } %> <% if(keyboard.knob === 'off') { %>unchecked<% } %> value="<%= keyboard.knob === 'on' ? 'on' : 'off' %>" value="<%= keyboard.knob === 'off' ? 'off' : 'on' %>"/>*<br> -->
        Knob? <select name="knob" value="<%=keyboard.knob%>">
            <option value="Yes" 
                <% if (keyboard.knob === 'Yes') { %>
                    selected
                <% } %>
            >Yes</option>
            <option value="No" 
                <% if (keyboard.knob === 'No') { %>
                    selected
                <% } %>
            >No</option>
        </select>*<br>

        Body Color(s): <input type="text" name="color" value="<%=keyboard.color%>"/>*<br>

        Body Material(s): <input type="text" name="bodyMaterials" placeholder="Ex: Aluminum/ABS Plastic" value="<%=keyboard.bodyMaterials%>"/>*<br>
        
        Plate Options: <select type="text" name="plateOptions" value="<%=keyboard.plateOptions%>">
            <option value="">Select an option</option>
            <option value="Polycarbonate" 
                <% if (keyboard.plateOptions === 'Polycarbonate') { %>
                    selected
                <% } %>
            >Polycarbonate</option>
            <option value="Aluminum" 
                <% if (keyboard.plateOptions === 'Aluminum') { %>
                    selected
                <% } %>
            >Aluminum</option>
            <option value="Brass" 
                <% if (keyboard.plateOptions === 'Brass') { %>
                    selected
                <% } %>
            >Brass</option>
            <option value="Stainless Steel" 
                <% if (keyboard.plateOptions === 'Stainless Steel') { %>
                    selected
                <% } %>
            >Stainless Steel</option>
        </select><br>

        <!-- Backlit/RGB? <input type="checkbox" name="rgb" <% if(keyboard.rgb === 'on') { %>checked<% } %> <% if(keyboard.rgb === 'off') { %>unchecked<% } %>/>*<br> -->
        Backlit/RGB? <select name="rgb" value="<%=keyboard.rgb%>">
            <option value="Yes" 
                <% if (keyboard.rgb === 'Yes') { %>
                    selected
                <% } %>
            >Yes</option>
            <option value="No" 
                <% if (keyboard.rgb === 'No') { %>
                    selected
                <% } %>
            >No</option>
        </select>*<br>

        Price: $<input type="text" name="price" value="<%=keyboard.price%>"/>*<br>
        Image URL: <input type="text" name="img" value="<%=keyboard.img%>"/><br>
        * required fields
        </div><br>
    <input class="submit" type="submit" value="SUBMIT CHANGES" />
    </form>
    <img class="editImage" src= <%=keyboard.img%> alt="">
    

    <script>
        function toggleCustomSize() {
          var customSizeField = document.getElementById("customSizeField");
          var keyboardSize = document.getElementsByName("keyboardSize")[0].value;
          if (keyboardSize == "Other") {
            customSizeField.style.display = "block";
          } else {
            customSizeField.style.display = "none";
          }
        }
        var keyboardSize = '<%=keyboard.keyboardSize%>';
        var select = document.getElementsByName('keyboardSize')[0];
        if (keyboardSize) {
            select.value = keyboardSize;
            if (keyboardSize === 'Other') {
                document.getElementById('customSizeField').style.display = 'block';
            }
        }

        var connectivityDropdown = document.querySelector('select[name="connectivity"]');
        var detachDropdown = document.querySelector('select[name="detach"]');
        var nonDetachDropdown = document.querySelector('select[name="nonDetach"]');

        connectivityDropdown.addEventListener('change', function() {
        var selectedValue = connectivityDropdown.value;
        if (selectedValue === 'Wired(Detachable)') {
            detachDropdown.style.display = 'block';
            nonDetachDropdown.style.display = 'none';
        } else if (selectedValue === 'Wired(Non-Detachable)') {
            detachDropdown.style.display = 'none';
            nonDetachDropdown.style.display = 'block';
        } else if (selectedValue === 'Wireless') {
            detachDropdown.style.display = 'none';
            nonDetachDropdown.style.display = 'none';
        }
        });
      </script>
</body>
</html>