<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <nav>
        <a href="/keyboards/<%=keyboard._id%>">Back to <%=keyboard.name%></a>
    </nav>
    <h1>Edit Keyboard</h1>
    <form action="/keyboards/<%=keyboard._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=keyboard.name%>"/>*<br>
            
        Keyboard Size: <select name="keyboardSize" onchange="toggleCustomSize()" value="<%=keyboard.keyboardSize%>">
            <option value="">Select a size</option>
            <option value="60%">60%</option>
            <option value="65%">65%</option>
            <option value="75%">75%</option>
            <option value="75%">80% | TKL | Tenkeyless</option>
            <option value="full">100% | Full Size</option>
            <option value="custom">Other (specify below)</option>
        </select>*<br>
        <div id="customSizeField" style="display:none;">
            Other Size: <input type="text" name="otherSize" value="<%=keyboard.otherSize%>"/>
        </div>

        Layout Name: <input type="text" name="layoutName" placeholder="Ex: Standard/Alice" value="<%=keyboard.layoutName%>"/><br>
        
        Connectivity: <select name="connectivity" value="<%=keyboard.connectivity%>">
            <option value="">Select an option</option>
            <option value="wiredC">Wired(Detachable) Type-C USB</option>
            <option value="wiredM">Wired(Detachable) Mini USB</option>
            <option value="wired">Wired(Non-Detachable) Type-A USB</option>
            <option value="wirelessB">Wireless (Bluetooth)</option>
            <option value="wirelessD">Wireless (Dongle)</option>

        </select>*<br>
        
        Switches: <input type="text" name="switches" value="<%=keyboard.switches%>"/><br>
        
        Switch Facing: <select name="switchFacing" value="<%=keyboard.switchFacing%>">
            <option value="">Select a facing</option>
            <option value="North">North</option>
            <option value="South">South</option>
        </select>*<br>

        <!-- Hot-Swappable: <input type="checkbox" name="hotswap" value="<%=keyboard.hotswap%>" onclick="getCheckboxValue(this)"/>*<br> -->

        Stabilizer Type: <select name="stabilizerType" value="<%=keyboard.stabilizerType%>">
            <option value="">Select a type</option>
            <option value="Clip-In">Clip-In</option>
            <option value="Screw-In">Screw-In</option>
        </select>*<br>

        <!-- Knob: <input type="checkbox" name="knob" value="true" value="<%=keyboard.knob%>" onclick="getCheckboxValue(this)"/>*<br>
        Body Materials: <input type="text" name="bodyMaterials" placeholder="Ex: Aluminum/ABS Plastic" value="<%=keyboard.bodyMaterials%>"/>*<br> -->
        
        Plate Options: <select type="text" name="plateOptions" value="<%=keyboard.plateOptions%>">
            <option value="">Select an option</option>
            <option value="Polycarbonate">Polycarbonate</option>
            <option value="Aluminum">Aluminum</option>
            <option value="Brass">Brass</option>
            <option value="Stainless Steel">Stainless Steel</option>
        </select>*<br>

        <!-- Backlit/RGB: <input type="checkbox" name="rgb" value="<%=keyboard.rgb%>" onclick="getCheckboxValue(this)"/>*<br> -->
        Average Price: $<input type="text" name="averagePrice" placeholder="USD" value="<%=keyboard.averagePrice%>"/>*<br>
        Image URL: <input type="text" name="img" value="<%=keyboard.img%>"/><br>
        <input type="submit" name="" value="Send this Keyboard to the Mecha"/>
    </form>
    *required fields
    
    <input type="submit" value="Submit Changes" />

<script>
    function toggleCustomSize() {
        var customSizeField = document.getElementById("customSizeField");
        var keyboardSize = document.getElementsByName("keyboardSize")[0].value;
        if (keyboardSize == "custom") {
            customSizeField.style.display = "block";
        } else {
            customSizeField.style.display = "none";
        }
    }

    </script>
</body>
</html>