<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Edit</title>
</head>
<body>

    <h1>Editing the <%=keyboard.name%></h1>

    <nav>
        <a class="link cancel" href="/keyboards/<%=keyboard._id%>">CANCEL EDITING</a>
    </nav><br>

    <form class="edit-container" action="/keyboards/<%=keyboard._id%>?_method=PUT" method="POST">
        <div class="editPage">
        Name: <input type="text" name="name" value="<%=keyboard.name%>"/>*<br>
            
        Keyboard Size: <select name="keyboardSize" value="<%=keyboard.keyboardSize%>">
            <option value="">Select a size</option>
            <option value="60% | Mini">60% | Mini</option>
            <option value="65% | SF">65% | SF</option>
            <option value="80% | TKL | Tenkeyless">80% | TKL | Tenkeyless</option>
            <option value="100% | Full Size">100% | Full Size</option>
            <option value="Other">Other (specify below)</option>
        </select>*<br>
        <div id="customSizeField">
            <% if (keyboard.keyboardSize === 'Other') { %>
                Other Size: <input type="text" name="otherSize" value="<%=keyboard.otherSize%>"/>
            <% } %>
        </div>
        
        Connectivity: <select name="connectivity" value="<%=keyboard.connectivity%>" >
            <option value="">Select an option</option>
            <option value="Wired(Detachable)" <% if (keyboard.connectivity === 'Wired(Detachable)') { %> selected <% } %>>Wired(Detachable)</option>
            <option value="Wired(Non-Detachable)" <% if (keyboard.connectivity === 'Wired(Non-Detachable)') { %> selected <% } %>>Wired(Non-Detachable)</option>
            <option value="Wireless(Bluetooth)" <% if (keyboard.connectivity === 'Wireless(Bluetooth)') { %> selected <% } %>>Wireless(Bluetooth)</option>
        </select>*<br>
        <div id="detach">
            <% if (keyboard.connectivity === "Wired(Detachable)") { %>
                Connection Type(Output): <input type="text" name="Wired(Detachable)" value="<%=keyboard.detach%>"/>
            <% } %>
        </div>
        <div id="nonDetach">
            <% if (keyboard.connectivity === "Wired(Non-Detachable)") { %>
                Connection Type: <input type="text" name="Wired(Non-Detachable)" value="<%=keyboard.nonDetach%>"/>
            <% } %>
        </div>

        
        Switches: <input type="text" name="switches" value="<%=keyboard.switches%>"/><br>
        
        Switch Facing: <select name="switchFacing" value="<%=keyboard.switchFacing%>">
            <option value="">Select a facing</option>
            <option value="North" 
                <% if (keyboard.switchFacing === 'North') { %>
                    selected
                <% } %>
            >North</option>
            <option value="South" 
                <% if (keyboard.switchFacing === 'South') { %>
                    selected
                <% } %>
            >South</option>
        </select>*<br>

        Hot-Swappable? <input type="checkbox" name="hotswap" <% if(keyboard.hotswap === 'on') { %>checked<% } else if(keyboard.rgb === 'off') { %>unchecked<% } %> />*<br>

        Knob? <input type="checkbox" name="knob" <% if(keyboard.knob === 'on') { %>checked<% } else if(keyboard.rgb === 'off') { %>unchecked<% } %> />*<br>
        
        Body Color(s): <input type="text" name="color" value="<%=keyboard.color%>"/>*<br>

        Body Material(s): <input type="text" name="bodyMaterials" placeholder="Ex: Aluminum/ABS Plastic" value="<%=keyboard.bodyMaterials%>"/>*<br>
        
        Plate Options: <select type="text" name="plateOptions" value="<%=keyboard.plateOptions%>">
            <option value="">Select an option</option>
            <option value="Polycarbonate" 
                <% if (keyboard.plateOptions === 'Polycarbonate') { %>
                    selected
                <% } %>
            >Polycarbonate</option>
            <option value="Aluminum" 
                <% if (keyboard.plateOptions === 'Aluminum') { %>
                    selected
                <% } %>
            >Aluminum</option>
            <option value="Brass" 
                <% if (keyboard.plateOptions === 'Brass') { %>
                    selected
                <% } %>
            >Brass</option>
            <option value="Stainless Steel" 
                <% if (keyboard.plateOptions === 'Stainless Steel') { %>
                    selected
                <% } %>
            >Stainless Steel</option>
        </select><br>

        Backlit/RGB? <input type="checkbox" name="rgb" <% if(keyboard.rgb === 'on') { %>checked<% } else if(keyboard.rgb !== 'on') { %>unchecked<% } %> />*<br>

        Price: $<input type="text" name="price" value="<%=keyboard.price%>"/>*<br>
        Image URL: <input type="text" name="img" value="<%=keyboard.img%>"/><br>
        * required fields
        </div><br>
    <input class="submit" type="submit" value="SUBMIT CHANGES" />
    </form>
    <img class="editImage" src= <%=keyboard.img%> alt="">
    

    <script>
        function toggleCustomSize() {
          var customSizeField = document.getElementById("customSizeField");
          var keyboardSize = document.getElementsByName("keyboardSize")[0].value;
          if (keyboardSize == "custom") {
            customSizeField.style.display = "block";
          } else {
            customSizeField.style.display = "none";
          }
        }
        var keyboardSize = '<%=keyboard.keyboardSize%>';
        var select = document.getElementsByName('keyboardSize')[0];
        if (keyboardSize) {
            select.value = keyboardSize;
            if (keyboardSize === 'custom') {
                document.getElementById('customSizeField').style.display = 'block';
            }
        }

        var connectivityDropdown = document.querySelector('select[name="connectivity"]');
        var detachDropdown = document.querySelector('select[name="detach"]');
        var nonDetachDropdown = document.querySelector('select[name="nonDetach"]');

        connectivityDropdown.addEventListener('change', function() {
        var selectedValue = connectivityDropdown.value;
        if (selectedValue === 'Wired(Detachable)') {
            detachDropdown.style.display = 'block';
            nonDetachDropdown.style.display = 'none';
        } else if (selectedValue === 'Wired(Non-Detachable)') {
            detachDropdown.style.display = 'none';
            nonDetachDropdown.style.display = 'block';
        } else {
            detachDropdown.style.display = 'none';
            nonDetachDropdown.style.display = 'none';
        }
        });

      </script>
</body>
</html>