<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Index</title>
</head>
<body>
    <h1>The Mecha of Keyboards</h1>
    
    <div class="links-container1">
        <a class="sort" href="/keyboards/name">Sort by Name (A-Z)</a>
        <!-- <a class="sort" href="/keyboards/size">Sort by Size (Smallest-Largest)</a> -->
        <a class="sort" href="/keyboards/price">Sort by Price (Lowest-Highest)</a>
    </div><br>

    <a class="link" href="/keyboards/new">Add a New Keyboard</a><br>

    <div class="index">
    <ul id="keyboard-list"><br>
        <% keyboards.forEach(keyboard=> { %>
            <a class="keyboard" href="/keyboards/<%=keyboard._id; %>">
                <% if (keyboard.keyboardSize === 'Other') {%>
                    <%=keyboard.name %> || Size: <%=keyboard.otherSize %> || Price: $<%=keyboard.price %>
                <% } else { %>
                    <%=keyboard.name %> || Size: <%=keyboard.keyboardSize %> || Price: $<%=keyboard.price %>
                <% } %>
            </a><br>
        <% }) %>
    </ul>
    </div>

    <a class="link" href="/keyboards/info">Learn more about Mechanical Keyboards here!</a><br>
    
</body>
</html>