<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Index</title>
</head>
<body>
    <h1>The Mecha of Keyboards</h1>
    <a class="link" href="/keyboards/new">Add a New Keyboard</a><br>

    <div class="index">
    <a class="sort" href="/keyboards/size">Sort by Size</a>
    <a class="sort" href="/keyboards/price">Sort by Price</a>
    <ul id="keyboard-list">
        <% keyboards.sort((a, b) => a.name.localeCompare(b.name)).forEach(keyboard => { %>
            <a class="keyboard" href="/keyboards/<%=keyboard._id; %>">
                <% if (keyboard.keyboardSize === 'custom') {%>
                    <%=keyboard.name %> | Size: <%=keyboard.otherSize %> | Price: $<%=keyboard.price %>
                <% } else { %>
                    <%=keyboard.name %> | Size: <%=keyboard.keyboardSize %> | Price: $<%=keyboard.price %>
                <% } %>
            </a><br>
        <% }) %>
    </ul>
</div>

    
</body>
</html>