<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Show</title>
</head>
<body>

   <h1><%=keyboard.name %></h1>

    <nav>
        <a class="link" href="/keyboards">Back to All Keyboards (Unsorted)</a>
    </nav><br><br>

    <div class="wrapper">
    <div class="grid-container">
        <label>Keyboard Size</label>: <%=keyboard.keyboardSize %><br>
        <% if (keyboard.otherSize) { %>
            <label>Other Size</label>: <%= keyboard.otherSize %><br>
        <% } %>

        <label>Connectivity</label>: <%=keyboard.connectivity %><br>
        <% if (keyboard.detach) { %>
            <label>Connection Type(Output)</label>: <%= keyboard.detach %><br>
        <% } %>
        <% if (keyboard.nonDetach) { %>
            <label>Connection Type</label>: <%= keyboard.nonDetach %><br>
        <% } %>
        <label>Switches</label>: <%=keyboard.switches %><br>
        <label>Switch Facing</label>: <%=keyboard.switchFacing %><br>
        <label>Hot-Swappable?</label> <input type="checkbox" <%= keyboard.hotswap === "on" ? "checked" : "" %> disabled><br>
        <label>Knob?</label> <input type="checkbox" <%= keyboard.knob === "on" ? "checked" : "" %> disabled><br>
        <label>Body Color(s)</label>: <%=keyboard.color %><br>
        <label>Body Material(s)</label>: <%=keyboard.bodyMaterials %><br>
        <label>Plate Options</label>: <%=keyboard.plateOptions %><br>
        <label>Backlit/RGB?</label> <input type="checkbox" <%= keyboard.rgb === "on" ? "checked" : "" %> disabled><br>
        <label>Price</label>: $<%=keyboard.price %><br>
        <img class="showImg" src= <%= keyboard.img %> alt= <% keyboard.name %> >
      </div></div><br>
      


    <a class="link" href="/keyboards/<%=keyboard._id %>/edit">EDIT</a><br>
    <form action="/keyboards/<%= keyboard.id %>?_method=DELETE" method="POST">
        <input class="delete" type="submit" value="DELETE" />
    </form>

</body>
</html>